@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3)
 {body, html {
    font-size: 1.5vw;
    
}}


*{
    box-sizing: border-box;
}
 html{
  overflow-x: hidden;
 }
body{
    background-color: #141413 !important;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    overflow-x: hidden;
}

.navbar{ 
    background-color: #141413 !important;

}
.navbar img{
    height: 40px;
    
}

.d-flex li{
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.d-flex img{
    height: 20px;
} 
 h1{
   padding-left: 0.2em;
    color: white;
    padding-right: 1.5em;
    
 }
#bottone{
    height: 2.5em;
}
 #bottone button{
    background-color: black;
    color: rgb(244, 246, 246);
    border-radius: 0;
  top: 0.5em;

 }
 #bottone ul{
    background-color:black;
  
    
 }
 #bottone ul li a{
 color:rgb(255, 255, 255);
    
 }
#icone{
    margin-right: 2em;
    height: 1.5em;
    
    
}

#icone i{
    border: 1px solid white;
    padding-left:0.8em;
    padding-right: 0.8em;

   
}

.slider{
    background-color: #141413 !important ;
}
.col-6{
    padding: 0.1em;
}
section h2{
    padding-left: 0.6em;
    padding-top: 1em;
}
.carousel-inner{
    overflow: visible;
}
.col-6 {
    transition: all 300ms ease-in-out;
}
.col-6:hover {
    transform: scale(1.3);
  transition: all 300ms ease-in-out;
 
  z-index: 1;
  }
  .col-6:hover img {
   
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .container{
    padding-left: 10%;
  }

  .chiusura {
    
    padding-top: 5em;   
    display: flex;
    flex-direction: row;
    
  }

  .chiusura i{
    font-size: 1.5em;
    color:#868686;
    padding: 0.5em;
    
  }

  .ultimi{
    display: flex;
   
  }

  .link{
    display: flex;
    flex-direction: column;
    
  }

  .link a{
    padding: 0.5em;
  }

  .link2{
    display: flex;
    flex-direction: column;
    
  }

  .link2 a{
    padding: 0.5em;
  }
  .link3{
    display: flex;
    flex-direction: column;
   
  }

  .link3 a{
    padding: 0.5em;
  }
  .link4{
    display: flex;
    flex-direction: column;
    
  }

  .link4 a{
    padding: 0.5em;
  }

  .ultimi a{
    text-decoration: none;
    color: grey;
  }

  .click{
    background-color:  #141413;
    color: white;
    text-decoration: none;
    border: 1px solid white;
   
    
 }

 .ancora{
    padding-left: 0.4em;
    padding-top: 1em;
 }

 .click span{
    padding: 0.5em;
 }

 footer p{
    color: grey;
    padding-top: 1.5em;
 }

.original-slider{
  overflow-x: hidden;
}